{{ if not (or (eq site.Params.profile false) (eq .Params.profile false)) }}

{{/* Display superuser if superuser exists and page volunteers are not explicitly specified. */}}
{{/* Otherwise, display first volunteer if a profile for them exists. */}}

{{ $volunteer_urlized := "" }}
{{ if and (not .Params.volunteers) (.Scratch.Get "superuser_username") }}
  {{ $volunteer_urlized = (.Scratch.Get "superuser_username") }}
{{ else }}
  {{ $first_volunteer := "" }}
  {{ if .Params.volunteers }}
    {{ $first_volunteer = index .Params.volunteers 0 }}
  {{ end }}
  {{ $volunteer_urlized = urlize $first_volunteer }}
{{ end }}

{{ $taxonomy := "volunteers" }}
{{ $profile_page := site.GetPage (printf "/%s/%s" $taxonomy $volunteer_urlized) }}
{{ with $profile_page }}
  {{/* If it's a personal site and primary page volunteer is superuser, link to the homepage rather than their profile page. */}}
  {{ $profile_url := .RelPermalink }}
  {{ if and (not site.Data.organization.name) (eq .Params.superuser true) }}
    {{ $profile_url = site.BaseURL }}
  {{ end }}
  
  <div class="media volunteer-card" itemscope itemtype="http://schema.org/Person">
    
    
<img class="portrait" src="{{printf "/img/volunteers/%s.PNG?%s" $profile_url now}}"
  style="height:250px; width:250px; border-radius:250px; background:white;" WIDTH=250 HEIGHT=250>
    

    <div class="media-body">
      <h5 class="card-title" itemprop="name"><a href="{{$profile_url}}">{{.Params.name}}</a></h5>
      {{ with .Params.role }}<h6 class="card-subtitle">{{. | markdownify | emojify}}</h6>{{end}}      
    </div>
  </div>
{{end}}{{/* Profile page block */}}
{{end}}{{/* Show profile block */}}
