{{/* Volunteer profile page. */}}

{{- define "main" -}}

{{ $page := . }}


{{/* If an account has not been created for this user, just display their name as the title. */}}
{{ if not .File }}
<div class="universal-wrapper pt-3">
  <h1 itemprop="name">{{ .Title }}</h1>
</div>
{{ end }}

<section id="profile-page" class="pt-5">
  {{/* Show the About widget if an account exists for this user. */}}

  {{ $widget := "widgets/about.html" }}
  {{ $username := (path.Base (path.Split .Path).Dir) }}{{/* Alternatively, use `index .Params.volunteers 0` */}}
  {{ $params := dict "root" $ "page" . "volunteer" $username }}
 
  
  

  <div class="row">
    
<div class="col-12 col-lg-1"> </div>

  <div class="col-12 col-lg-3">  
    
      <div>
    
      <img class="portrait" src="{{printf "/img/volunteers/%s.PNG?%s" $username now}}"
        style="height:250px; width:250px; border-radius:250px; background:white;" WIDTH=250 HEIGHT=250>
    
      </div>
  </div>

  <div class="col-12 col-lg-5">
    {{ partial $widget $params }}
    
    <div style="padding-top: 2em;"> </div>
    <div class="hr-light"></div>
    <h3> <b>He/She has contributed to those Yuanyou projects : </b></h3>

    {{ range $items_type := (slice "salon" "news" "wiki" "aid" ) }}

      {{ $query_tmp := where $page.Pages ".IsNode" false }}

      {{ $query := where $query_tmp "Type" (printf "%s" $items_type) }}

      {{ $count := len $query }}
      {{ if $count }}
      <div class="article-widget">
        
        <h3> {{ printf "%s" $items_type }} : </h3>
        <ul>
          {{ range $query }}
          <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
    {{ end }}
  </div>
  </div>
</section>

{{- end -}}
