{{/* Volunteer profile page. */}}

{{- define "main" -}}

{{ $page := . }}


{{/* If an account has not been created for this user, just display their name as the title. */}}
{{ if not .File }}
<div>
  <h1 itemprop="name">{{ .Title }}</h1>
</div>
{{ end }}

  {{/* Show the About widget if an account exists for this user. */}}

  {{ $widget := "widgets/about.html" }}
  {{ $username := (path.Base (path.Split .Path).Dir) }}{{/* Alternatively, use `index .Params.volunteers 0` */}}
  {{ $params := dict "root" $ "page" . "volunteer" $username }}
 
  
  
{{ $person_page_path := (printf "/volunteers/%s" (urlize $username)) }}
{{ $person_page := site.GetPage $person_page_path }}
{{ if not $person_page }}
{{ errorf "Could not find an volunteer page at `%s`. Please check the value of `volunteer` in your About widget and create an associated volunteer page if one does not already exist. See https://sourcethemes.com/academic/docs/page-builder/#about " $person_page_path }}
{{end}}
{{ $person := $person_page.Params }}



<div class="row" style="padding: 2em 2em; max-width: 100%">
    
<div class="col-12 col-lg-2"> </div>

  <div class="col-12 col-lg-3">  
    
      <div>
    
      <img class="portrait" src="{{printf "/img/volunteers/%s.PNG?%s" $username now}}"
        style="height:250px; width:250px; border-radius:250px; background:white; border:1px solid rgb(224, 247, 206); ">
    
      </div>
      <center> <h2 itemprop="name">{{ $person.name }}</h2> </center>
  </div>

  <div class="col-12 col-lg-4">
    {{ partial $widget $params }}
    
    <div style="padding-top: 2em;"> </div>
    

    {{ $query_tmp := where $page.Pages ".IsNode" false }}

    {{ $count_tmp := len $query_tmp }}

    {{ if $count_tmp }}

    <div class="hr-light"></div>

    <h3> <b>He/She has contributed to those Yuanyou projects : </b></h3>

    {{ range $items_type := (slice "salon" "news" "wiki" "aid" ) }}

      {{ $query := where $query_tmp "Type" (printf "%s" $items_type) }}

      {{ $count := len $query }}
      {{ if $count }}
      <div class="article-widget">
        
        <h3> {{ printf "%s" $items_type }} : </h3>
        <ul>
          {{ range $query }}
          <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
    {{ end }}
    {{ end }}
  </div>
  </div>


{{- end -}}
