{{/* List of all volunteers. */}}

{{- define "main" -}}

{{ partial "page_header.html" . }}

<div class="universal-wrapper">

  <div class="article-style" itemprop="articleBody"> 
  Yuanyou NGO has always functioned with the help of volunteers.
</div>

<div style="padding-top: 2em;"> </div>

  <ul>
    {{ $paginator := .Paginate .Data.Pages }}
    {{ range $k, $v := $paginator.Pages }}
      {{ $name := $v.Params.name | default ($v.Title|plainify) }}
      <li><a href="{{$v.Permalink}}">{{$name}}</a></li>
    {{ end }}
  </ul>

  {{ partial "pagination" . }}
</div>

{{- end -}}
