{{ $ := .root }}
{{ $page := .page }}


<div class="row featurette">
  {{ with $page.Title }}
  <div class="col-md-12 section-heading">
    <h1>{{ . | markdownify | emojify }}</h1>
    {{ if $page.Params.subtitle }}<p>{{ $page.Params.subtitle | markdownify | emojify }}</p>{{ end }}
  </div>
  {{ end }}

  <div class="col-12 col-sm-4">
	<div>
	<img src= "http://www.helpblind.cn/upload/2019/05/201905241932260477.jpg" alt="" WIDTH=250 HEIGHT=200>
	</div>
	<h3>  HelpBlind </h3>
  </div>
  
  <!--
  <div class="col-12 col-sm-4">
	<div>
	<img src= "https://www.curechm.org/CHM-logo-076dde4324f7f2890531e0550d3d50d1.svg" alt="" WIDTH=300 HEIGHT=300>
	</div>
	<h3>  Choroideremia Research Foundation  </h3>
  </div>
  -->
  
  <div class="col-12 col-sm-4">
	<div>
	<img src= "http://www.aierchina.com/static_2017aierchina/images/logo.png" alt="" WIDTH=300 HEIGHT=300>
	</div>
	<h3>  AIER Eye Hospital  </h3>
  </div>
  
	
	<div class="col-12 col-sm-4">
	<div>
	<img src= "http://www.lucidkorea.com/img/logo.png" alt="" WIDTH=300 HEIGHT=300>
	</div>
	<h3>  LucidKorea  </h3>
  </div>
	
	
	
	
</div>
