{{ $ := .root }}
{{ $page := .page }}


<div class="row partners">
  {{ with $page.Title }}
  <div class="col-md-12 section-heading">
    <h1>{{ . | markdownify | emojify }}</h1>
    {{ if $page.Params.subtitle }}<p>{{ $page.Params.subtitle | markdownify | emojify }}</p>{{ end }}
  </div>
  {{ end }}

  <div class="col-12 col-sm-4">
	<div>
	<img src= "/img/helpblind.PNG" style="padding-top: 4em;" WIDTH=300 HEIGHT=300>
	</div>
	<h3>  HelpBlind </h3>
  </div>
  
  
  
  <div class="col-12 col-sm-4">
	<div>
	<img src= "/img/aier.PNG" style="padding-top: 4em;" alt="" WIDTH=300 HEIGHT=300>
	</div>
	<h3>  AIER Eye Hospital  </h3>
  </div>
  
	
	<div class="col-12 col-sm-4">
	<div>
	<img src= "/img/lucidkorea.PNG" style="padding-top: 4em;" alt="" WIDTH=300 HEIGHT=300>
	</div>
	<h3>  LucidKorea  </h3>
  </div>
  
  
  <div class="col-12 col-sm-4">
	<div>
	<img src= "/img/chm.PNG" style="padding-top: 4em;"  alt="" WIDTH=300 HEIGHT=300>
	</div>
	<h3>  Choroideremia Research Foundation  </h3>
  </div>
  
<div class="col-12 col-sm-4">
	<div>
	<img src= "/img/ush.PNG" style="padding-top: 4em;" alt="" WIDTH=300 HEIGHT=300>
	</div>
	<h3>  Usher Syndrome Coalition  </h3>
  </div>
  	
	
	
	
</div>
