{{ $ := .root }}
{{ $page := .page }}


<div class="row partners">
  {{ with $page.Title }}
  <div class="col-md-12 section-heading">
    <h1>{{ . | markdownify | emojify }}</h1>
    {{ if $page.Params.subtitle }}<p>{{ $page.Params.subtitle | markdownify | emojify }}</p>{{ end }}
  </div>
  {{ end }}

  <div class="col-12 col-sm-2">
	<div>
	<center><img src= "/img/helpblind.PNG?{{printf "%s" .date}}" style="padding-top: 3em;" WIDTH=150 HEIGHT=150 align="middle"></center>
	</div>
	<div style="font-size:1.0em;">  HelpBlind </div>
  </div>
  
  
  
  <div class="col-12 col-sm-2">
	<div>
	<center>
	<img src= "/img/aier.PNG?{{printf "%s" .date}}" style="padding-top: 3em;" alt="" WIDTH=150 HEIGHT=150 align="middle"> </center>
	</div>
	<center><div style="font-size:1.0em;">  AIER Eye Hospital  </div></center>
  </div>
  
	
	<div class="col-12 col-sm-2">
	<center>
	<img src= "/img/lucidkorea.PNG?{{printf "%s" .date}}" style="padding-top: 3em;" alt="" WIDTH=150 HEIGHT=150 align="middle">
	</center>
	<div style="font-size:1.0em;">  LucidKorea  </div>
  </div>
  
  
  <div class="col-12 col-sm-2">
	<center>
	<img src= "/img/chm.PNG?{{printf "%s" .date}}v" style="padding-top: 3em;"  alt="" WIDTH=150 HEIGHT=150>
	</center>
	<div style="font-size:1.0em;">  Choroideremia Research Foundation  </div>
  </div>
  
<div class="col-12 col-sm-2">
	<center>
	<img src= "/img/ush.PNG?{{printf "%s" .date}}" style="padding-top: 3em;" alt="" WIDTH=150 HEIGHT=150>
	</center>
	<div style="font-size:1.0em;"> Usher Syndrome Coalition  </div>
  </div>
  	
	
	
	
</div>
