{{ $ := .root }}
{{ $page := .page }}


<div class="row partners">
  {{ with $page.Title }}
  <div class="col-md-12 section-heading">
    <h1>{{ . | markdownify | emojify }}</h1>
    {{ if $page.Params.subtitle }}<p>{{ $page.Params.subtitle | markdownify | emojify }}</p>{{ end }}
  </div>
  {{ end }}

  <div class="col-12 col-sm-3">
	<div>
	<center><img src= "/img/helpblind.PNG" style="padding-top: 4em;" WIDTH=200 HEIGHT=200 align="middle"></center>
	</div>
	<div style="font-size:1.2em;">  HelpBlind </div>
  </div>
  
  
  
  <div class="col-12 col-sm-3">
	<div>
	<center>
	<img src= "/img/aier.PNG" style="padding-top: 4em;" alt="" WIDTH=200 HEIGHT=200 align="middle"> </center>
	</div>
	<center><div style="font-size:1.2em;">  AIER Eye Hospital  </div></center>
  </div>
  
	
	<div class="col-12 col-sm-3">
	<center>
	<img src= "/img/lucidkorea.PNG" style="padding-top: 4em;" alt="" WIDTH=200 HEIGHT=200 align="middle">
	</center>
	<div style="font-size:1.2em;">  LucidKorea  </div>
  </div>
  
  
  <div class="col-12 col-sm-3">
	<center>
	<img src= "/img/chm.PNG" style="padding-top: 4em;"  alt="" WIDTH=200 HEIGHT=200>
	</center>
	<div style="font-size:1.2em;">  Choroideremia Research Foundation  </div>
  </div>
  
<div class="col-12 col-sm-3">
	<center>
	<img src= "/img/ush.PNG" style="padding-top: 4em;" alt="" WIDTH=200 HEIGHT=200>
	</center>
	<div style="font-size:1.2em;"> Usher Syndrome Coalition  </div>
  </div>
  	
	
	
	
</div>
