{{ $ := .root }}
{{ $page := .page }}


<div id="piao-id" class="row">
  {{ with $page.Title }}
  <div class="col-12 col-lg-4 section-heading">
    <h1>{{ . | markdownify | emojify }}</h1>
    {{ if $page.Params.subtitle }}<p>{{ $page.Params.subtitle | markdownify | emojify }}</p>{{ end }}
  </div>
  {{ end }}
  
  <div class="col-12 col-lg-8">
  
    {{ with $page.Content }}{{ . | markdownify | emojify }}{{ end }}


      <div style="padding-top: 2em;">  </div>
        
          <div class="rare-flex-container"> 

            {{ $zh_page_path := (printf "list-of-all-rare-eye-diseases") }}
            {{ $zh_page := site.GetPage $zh_page_path }}

            {{ $en_page := site.GetPage $zh_page_path }}


            {{ if eq (printf "%s" $page.Lang) "en"}}
              {{ range $p := $en_page.Translations }}
                  {{ if eq (printf "%s" $p.Lang) "zh"}}
                      {{ $zh_page = $p }}
                  {{end}}
              {{end}}
            {{end}}
            
            {{ range $zh_page.Params.disease }}

              <a href="#rare-eye-diseases"  style="text-decoration: none;" >  
                
                  {{ if eq ( printf "%s" $page.Lang) "en" }}
                    {{ with .name_en }}
                      <div class="rare-flex-item"> {{. | markdownify | emojify}} </div>
                    {{ end }}
                  {{ else }}
                    {{ with .name_cn }}
                      <div class="rare-flex-item"> {{. | markdownify | emojify}} </div>
                    {{ end }}
                  {{ end }}
                
              </a>

            {{ end }}


          </div>  
      
      
   </div>	
  
</div>


