{{ $ :=  (printf "%s" $.root)}}
{{ $page := .page }}
{{ $hash_id := .hash_id }}


{{/* Pages Widget */}}

{{/* Initialise */}}
{{ $st := .page }}

<!-- Indicators -->
<ol class="carousel-indicators">
  {{ range $index, $item := $page.Params.item }}
  <li data-target="#{{$hash_id}}" data-slide-to="{{$index}}" {{if eq $index 0}}class="active"{{end}}></li>
  {{ end }}
</ol>




<!-- Carousel slides wrapper -->
<div class="carousel-inner">
  {{ range $index, $item := $page.Params.item }}
  		
  <div class="wg-hero dark carousel-item{{if eq $index 0}} active{{end}}" style="{{with $page.Params.height}}{{printf "height: %s;" . | safeCSS}}{{end}}
    {{ if $item.overlay_color }}
    background-color: {{ $item.overlay_color | default "transparent" }};
    {{ end }}
    background-image:
	{{ if $item.overlay_img }}
    linear-gradient(to right, rgba(0, 0, 0, 0), rgba(159, 204, 159), rgba(76, 175, 80, 1)), 
    url('{{ printf "/img/%s?%s" $item.overlay_img .date }}');
    {{ end }}
	background-size:  cover;
	backgroundRepeat: repeat;
	backgroundPosition': top center
    ;">

	<div class="container" style="text-align:center;">
      <div class="container" style="text-align:left;">	
			<div class="hero-lead" style="color:#333333; {{if eq $page.Params.align "center"}}margin: 0 auto 0 auto;{{else if eq $page.Params.align "right"}}margin-left: auto; margin-right: 0{{end}}; font-size:1.5em;">
			  <span class="hero-lead" style="color:#0e6b20; font-size:1.5em;">
			  {{ with $item.url }}<a style="text-decoration : none; color : #0e6b20;" href="{{ . }}" target="_blank" rel="noopener">{{ end }}
			  {{ with $item.title }}{{ . | markdownify | emojify }}{{ end }}
			  {{ if $item.url }}</a>{{ end }}
			  </span>   
			</div>  
		
        {{ with $item.content }}
        <div class="hero-lead " style="color:#03380e; {{if eq $page.Params.align "center"}}margin: 0 auto 0 auto;{{else if eq $page.Params.align "right"}}margin-left: auto; margin-right: 0{{end}}; font-size:1em;">
          {{ . | markdownify | emojify }}
        </div>
        {{ end }}
		
				{{ $items_type := $item.type | default "news"}}
				{{ $items_offset := $st.Params.content.offset | default 0 }}
				{{ $items_count := $st.Params.content.count }}
				{{ if eq $items_count -1 }}
				  {{ $items_count = 65535 }}
				{{ else }}
				  {{ $items_count = $items_count | default 5 }}
				{{ end }}
				{{ $items_sort := $st.Params.content.order | default "desc" }}

				{{/* Query */}}
				{{ $query := where site.RegularPages "Type" (printf "%s" $items_type) }}
				{{ $archive_page := site.GetPage "Section" $items_type }}

				{{ $count := len $query }}

				{{/* Sort */}}
				{{ $sort_by := "Date" }}
				{{ $query = sort $query $sort_by $items_sort }}

				{{/* Offset and Limit */}}
				{{ if gt $items_offset 0 }}
				  {{ $query = first $items_count (after $items_offset $query) }}
				{{ else }}
				  {{ $query = first $items_count $query }}
				{{ end }}

				{{/* Localisation */}}
				{{ $i18n := "" }}
				
				{{ $i18n = "more_pages" }}

				{{ range $item_li_slider := $query }}
				<div class="hero-lead" style="{{if eq $page.Params.align "center"}}margin: 0 auto 0 auto;{{else if eq $page.Params.align "right"}}margin-left: auto; margin-right: 0{{end}};">
				  <i  class="far fa-file-alt pub-icon" style="color: #111111;"></i>
				  <a style="text-decoration : none; color:#07661a; font-size:0.68em;" href="{{$item_li_slider.RelPermalink}}" target="_blank" rel="noopener">{{ $item_li_slider.Title }}</a>
				  &nbsp; 
				  <span> {{ partial "page_metadata_slider" (dict "page" $item_li_slider "is_list" 1) }}  </span>
				</div>
				{{end}}
				
				<div>
				
				</div>
				
				{{if lt $items_count 999998}}
				<div class="hero-lead" style="{{if eq $page.Params.align "center"}}margin: 0 auto 0 auto;{{else if eq $page.Params.align "right"}}margin-left: auto; margin-right: 0{{end}};">
				  <a style="color:#07661a; font-size:0.68em;" href="{{ $archive_page.RelPermalink }}">
					{{ i18n $i18n | default "See all" }}
					{{$item.title}}
					<i class="fas fa-angle-right"></i>
				  </a>
				</div>
				{{end}}

      </div> 
	</div>		
  </div>
  
  {{ end }}
</div>

<!-- Left and right controls -->
<a class="carousel-control-prev" href="#{{$hash_id}}" data-slide="prev">
  <span class="carousel-control-prev-icon"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#{{$hash_id}}" data-slide="next">
  <span class="carousel-control-next-icon"></span>
  <span class="sr-only">Next</span>
</a>
