<!-- block of ta in the main page -->
{{ $ := .root }}
{{ $page := .page }}


<div id="piao-id" class="row">
  {{ with $page.Title }}
  <div class="col-12 col-lg-4 section-heading">
    <h1>{{ . | markdownify | emojify }} <i id="rainbow-heart" class='fas fa-heart' aria-hidden="true"></i>  </h1>
    {{ if $page.Params.subtitle }}<p>{{ $page.Params.subtitle | markdownify | emojify }}</p>{{ end }}

  </div>
  {{ end }}




  <div class="col-12 col-lg-8">

  {{ with $page.Content }}{{ . | markdownify | emojify }}{{ end }}

    <div style="padding-top: 2em;">  </div>

  <div class="row">


  {{ range $page.Params.ta }}

  {{ $v := (printf "%s" (urlize .)) }}

  <div class="col-sm-2">
	<div style="padding-top: 2em;" class="image-to-hover">
	<a style="text-decoration : none; color : #0e6b20;" href="ta/{{ $v }}" target="_blank"
			rel="noopener">
	<center><img src= "{{printf "/img/ta/%s.jpg?%s" $v now  | relURL  }}" style="
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
  border:1px solid rgb(224, 247, 206);"  align="middle"></center>
  </a>

  {{ $person_page_path := (printf "/ta/%s" (urlize $v)) }}
  {{ $person_page := site.GetPage $person_page_path }}
  {{ if not $person_page }}
  {{ errorf "Could not find an ta page at `%s`. Please check the value of `ta` in your About widget and create an associated ta page if one does not already exist. See https://sourcethemes.com/academic/docs/page-builder/#about " $person_page_path }}
  {{end}}
  {{ $person := $person_page.Params }}

	</div>
	<a style="text-decoration : none; color : #222222;" href="ta/{{ $v }}" target="_blank"
		rel="noopener">
	<center><div style="font-size:0.8em; padding-top: 1em;" class="text-to-hover" > {{$person.name | markdownify | emojify}} </div></center>
  </a>
  </div>


  {{ end }}


</div>
</div>
</div>
